# ValidationRecords


## Fields

| Field              | Type               | Required           | Description        |
| ------------------ | ------------------ | ------------------ | ------------------ |
| `Status`           | **string*          | :heavy_minus_sign: | N/A                |
| `TxtName`          | **string*          | :heavy_minus_sign: | N/A                |
| `TxtValue`         | **string*          | :heavy_minus_sign: | N/A                |